@media screen and (max-width:768px){
/*  common  */
  .wrap{
    padding: 0 20px;
  }
  .h1T{
    font-size: calc(84px * 0.6);
  }
  .h3T{
    font-size: calc(48px * 0.6);
  }
  .h4T {
    font-size: calc(36px * 0.58);
  }
  .h6T{
    font-size: calc(16px *0.9);
  }
/*  header  */
  header nav{
    height: 80px;
    padding: 0 20px;
  }
  header nav > ul {
    display: none;
  }
  header nav h1 a{
    font-size: calc(28px * 0.7); 
  }
  header nav h1 a::before{
    margin-right: initial;
  }
  .ham{
    display: flex;
    color: white;
    transform: scale(0.8);
  }
/*  타이틀영역  */
  div#title{
  background-size: cover;
  }
  div#title div.wrap{
    padding: 0 20px;
  }
  div#title::after{
    width: 15px;
    height: 15px;
    left: calc(50% - 10px);
  }
  div#title h2{
    font-size: calc(74px * 0.6);
  }
/*  summary  */
  #summary{
    background-size: cover; 
  }
  #summary div.wrap{
    gap: 50px;
  }
  #summary ul{
    position: static;
    display: initial;
    text-align: left;
  }
  #summary ul li{
    margin-bottom: 26px;
  }
/*   #summary p.p1{
    text-align: center;
  } */
  #summary ul li p.p2{
    margin-top: 10px;
  }
/*  비전  */
  #vision{
    padding-bottom: 20px;
  }
  #vision div.wrap{
    padding-top: calc(70px *0.7);
  }
  #vision div.wrap h3{
    margin-bottom: calc(70px *0.7);
  }
  #vision div.wrap ul li{   
    width: 100%;
    display: block;
    margin-bottom: calc(60px * 0.8);
  }
  #vision div.wrap ul li::before{    
    width: 100%;
  }
  #vision div.wrap ul li h4{
    margin: 15px 0;
  }
/* information */
  #information{
    padding: 20px 0;
  }
  #information div.wrap ul{
    flex-wrap: wrap;
  }
  #information div.wrap ul li{
    width: calc((100% - 10px) / 2);
    height: calc(500px / 2);
  }
  #information div.wrap ul li:hover{
    width: calc((100% - 10px) / 2);
  }
  #information div.wrap ul li p{
    width: auto;
    padding: 0 10px;
    line-height: 1.3;
    font-size: 15px;
  }
  #information div.wrap ul li:hover h4{
    transform: translateY(-45px);
  }
  #information div.wrap ul li:hover p{
    transform: translateY(-15px);
  }
/*  뉴스 */
  #news{
    align-items: initial;
  }
  #news div.wrap{
    display: block;
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
  }
  #news div.wrap h3.h4T{
    margin-bottom: 30px;
    padding-top: 20px;
  }
  #news div.wrap > a{
    position: absolute;
    bottom: 10%;
    left: calc(50% - 55px);
    border: 1px solid;
    padding: 3px;
    width: 110px;
    text-align: center;
  }
  #news div.wrap ul li{
    margin-bottom: 20px;
  }
  #news div.wrap ul li a.h6T{
    line-height: 1.7;
    display: block;
  }
  #news div.wrap ul li a time{
    display: block;
    line-height: 2;
    text-align: right;
    padding-right: 10px;
    font-size: 13px;
    color: #948989;
  }
/*  footer  */
  footer div.wrap{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr auto auto auto;
    padding: 0 20px;
  }
  footer div.wrap h1.h5T{
    grid-column: 1;
    grid-row: 3;
    margin: 20px 0;
  }
  footer div.wrap h2.h6T{
    grid-column: 2;
    grid-row: 3;
    margin: 20px 0;
    align-items: center;
  }
  footer div.wrap ul.fnb{
    flex-wrap: wrap;
    font-size: calc(16px *0.8);
    justify-content: center;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 2;
  }
  footer div.wrap ul.fnb::after{ 
    display: none;
  }
  footer div.wrap ul.fnb li{
    width: auto;
  }
  footer div.wrap ul.fnb li a{
    padding: 0px 10px;
    letter-spacing: -1px;
    line-height: 3;
    height: auto;
  }
  footer div.wrap ul.sns{
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: 0 auto;
    position: relative;
  }
  footer div.wrap ul.sns::after {
  content: "";
  display: block;
  width: calc(100vw);
  border-bottom: 1px solid #b1b1b1;
  position: absolute;
  bottom: -1px;
  left: -50px;
  height: 114px;
  background-color: white;
  border-top: 1px solid #b1b1b1;
  }
  footer div.wrap ul.sns li{
    z-index: 1;
    padding-bottom: 6px
  }
  footer div.wrap address{
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  footer div.wrap ul.email{
    grid-column: 1 /span 2;
    grid-row: 6;
  }
  footer div.wrap p.money{
    grid-column: 1 / span 2;
    grid-row: 5;
  }
  footer div.wrap ul.award{
    display: none;
  }
  footer div.wrap p.copyright{
    grid-column: 1 / span 2;
    grid-row: 7;
    margin-top: 20px;
  }
  

/*  768 end  */
}